{{#each model as |application|}}
  {{#if (or (not only) (eq only application.name))}}
    <li class="top">
      {{#if appRoute}}
        <a
          href={{href-to appRoute application.name class='application'}}
          {{action 'closeAndTransition' appRoute application.name}}
          class={{if (eq application.name currentApp) 'active'}}
        >
          {{capitalize application.name}}
        </a>
      {{else}}
        <span class="application">{{capitalize application.name}}</span>
      {{/if}}
      {{#if application.models.length}}
        <ul>
         {{#each application.models as |model|}}
           <li>
             {{#if changeListRoute}}
               <a
                href={{href-to changeListRoute application.name model.singular}}
                {{action 'closeAndTransition' changeListRoute application.name model.singular}}
                class={{if (and (eq application.name currentApp) (eq model.singular currentModel)) 'active'}}
               >
                 {{capitalize model.name}}
               </a>
             {{else}}
               {{capitalize model.name}}
             {{/if}}
           </li>
         {{/each}}
        </ul>
      {{/if}}
    </li>
  {{/if}}
{{/each}}
