{{#if hasLabel}}
  <label class="{{horiClass}}">{{label}}{{#if required}}<sup>*</sup>{{/if}}</label>
{{/if}}
<div class="{{bsInputClass}} {{if (eq type 'checkbox') 'checkbox'}}">
  {{#translatable-field
    field=field
    translated=translated
    languages=languages
    as |language|
  }}
    {{#if hasBlock}}
      {{yield this language}}
    {{else}}
      {{#if readonly}}
        {{#if (eq type 'checkbox')}}
          {{#if value}}
            <i class="fa fa-check text-success"></i>
          {{else}}
            <i class="fa fa-times text-danger"></i>
          {{/if}}
          <label>{{#if (not-eq formLayout 'inline')}}{{label}}{{#if required}}<sup>*</sup>{{/if}}{{/if}}</label>
        {{else}}
          {{#if (and isDateTime value)}}
            {{moment-format value momentFormat}}
          {{else}}
            {{get model property}}
          {{/if}}
        {{/if}}
      {{else}}
        {{#if isInput}}
          <div class="input-group">
            {{#if extra.addonIcon}}
              <div class="input-group-addon">
                <i class={{extra.addonIcon}} aria-hidden="true"></i>
              </div>
            {{/if}}
            {{input
              type=type
              value=(get model (concat property language))
              class="form-control"
              required=required
              focusOut=(action validate)
              placeholder=placeholder
            }}
            {{#if actionAddon}}
              <a class="input-group-addon" {{action actionAddon}}>
                <i class={{if actionAddonIcon actionAddonIcon 'fa fa-cog'}}></i>
              </a>
            {{/if}}
          </div>
        {{/if}}
        {{#if (eq type 'checkbox')}}
          <div class="checkbox {{checkboxClass}}">
            {{input type='checkbox' checked=value label_after=true class="styled"}}
            <!-- awesome checkbox styles <label> so it is required even if empty /-->
            <label>
              {{#if (not-eq formLayout 'inline')}}
                {{label}}{{#if required}}<sup>*</sup>{{/if}}
              {{/if}}
            </label>
          </div>
        {{/if}}
      {{/if}}
    {{/if}}
    {{#if (and extra.help (not readonly))}}
      <p class="help-block">{{extra.help}}</p>
    {{/if}}
  {{/translatable-field}}
  {{#if hasError}}
    {{#each (get model (concat 'errors.' property)) as |error|}}
      <p class="text-danger">{{error.message}}</p>
    {{else}}
      {{#each (get model (concat 'form_errors.' property)) as |error|}}
        <p class="text-danger">{{error}}</p>
      {{/each}}
    {{/each}}
  {{/if}}
</div>
