{{#if allowEdit}}
  {{#if showSave}}
    <button class="btn btn-primary pull-right" {{action (perform save_all 'redirect')}} disabled={{buttonsDisabled}}>
      {{#if (eq performing 'redirect')}}
        <i class="fa fa-spinner fa-spin"></i>
      {{else}}
        <i class={{concat 'fa ' saveClass}}></i>
      {{/if}}
      &nbsp;&nbsp;{{saveText}}
    </button>
  {{/if}}
  {{#if changeFormRoute}}
    <button class="btn btn-default pull-right" {{action (perform save_all 'stay')}} disabled={{buttonsDisabled}}>
      {{#if (eq performing 'stay')}}
        &nbsp;<i class="fa fa-spinner fa-spin"></i>&nbsp;&nbsp;
      {{else}}
        {{#each saveAndContinueClasses as |klass|}}
          <i class={{concat 'fa ' klass}}></i>
        {{/each}}
      {{/if}}
      &nbsp;&nbsp;{{saveAndContinueText}}
    </button>
  {{/if}}
{{/if}}
{{#if (and allowDelete model.id)}}
  <button class="btn btn-danger pull-left" {{action delete_all model}} disabled={{buttonsDisabled}}>
    <i class={{concat 'fa ' deleteClass}}></i>
    &nbsp;&nbsp;{{deleteText}}
  </button>
{{/if}}
<button class="btn btn-default pull-left" {{action (perform cancel_all model)}} disabled={{buttonsDisabled}}>
  {{#if (eq performing 'cancel')}}
    &nbsp;<i class="fa fa-spinner fa-spin"></i>&nbsp;
  {{else}}
    <i class={{concat 'fa ' cancelClass}}></i>
  {{/if}}
  &nbsp;&nbsp;{{cancelText}}
</button>
