{{#if conditionalFormatting}}
  <div class={{concat 'formatting ' conditionalFormatting}}>
    {{#each (get conditionalFormat conditionalFormatting) as |formatting|}}
      {{#if formatting.description}}
        {{formatting.description}}<br/>
      {{/if}}
    {{/each}}
  </div>
{{/if}}
