<div class="actions">
  {{#each sortedCustomActions as |act|}}
    {{#unless (or act.hide act.hideInForm (and model.isNew (not act.forceShowNew)))}}
      {{#if hasBlock}}
        {{yield (component
          'custom-action'
          act=act
          model=model
          expanded=expandActions
          method=method
          request=rqst
          receiver=cf
          disabled=actionIsRunning
          performing=performing
          requestConfirm=(action requestConfirm)
          tagName=actionTagName
          supervisor=supervisor
        ) act act.slug}}
      {{else}}
        {{custom-action
          act=act
          model=model
          expanded=expandActions
          method=method
          request=rqst
          receiver=cf
          disabled=actionIsRunning
          performing=performing
          requestConfirm=(action requestConfirm)
          tagName=actionTagName
          supervisor=supervisor
        }}
      {{/if}}
    {{/unless}}
  {{/each}}
  <div class="clearfix"></div>
</div>
<div class="clarfix"></div>
