{{#if model.errors.base.length }}
  <div class="alert alert-danger">
    {{#each model.errors.base as |error|}}
      <p class="text-danger">{{error.message}}</p>
    {{/each}}
  </div>
  <div class="clearfix"></div>
{{/if}}
