{{#each fieldsets as |fieldset|}}
  {{form-fieldset
    field=fieldset
    class=fieldset.class
    model=model
    fetch_meta=fetch_meta
    main=cf
    addRelated=(action addRelated)
    editRelated=(action editRelated)
    languages=languages
    saveMes=saveMes
    readonly=readonly
    changeFormRoute=changeFormRoute
    requestConfirm=(action requestConfirm)
  }}
{{/each}}
