{{#unless isPopup}}
  {{to-elsewhere named='recordName' send=model.__str__}}
{{/unless}}
{{#if hasBlock}}
  {{yield
    this
    (hash
      conditionalFormatting=(component
        'cf-conditional-formatting-block'
        conditionalFormatting=conditionalFormatting
        conditionalFormat=conditionalFormat
      )
      customActions=(component
        'cf-custom-actions'
        customActions=customActions
        sortedCustomActions=sortedCustomActions
        model=model
        expandActions=expandActions
        method=method
        rqst=rqst
        cf=this
        actionIsRunning=actionIsRunning
        performing=performing
        requestConfirm=(action 'requestConfirm')
        supervisor=supervisor
      )
      formErrors=(component 'cf-form-errors' model=model)
      form=(component
        'cf-form'
        fieldsets=fieldsets
        model=model
        fetch_meta=fetch_meta
        cf=this
        addRelated=(action 'add_related')
        editRelated=(action 'edit_related')
        languages=languages
        saveMes=saveMes
        readonly=readonly
        changeFormRoute=changeFormRoute
        requestConfirm=(action 'requestConfirm')
      )
      buttons=(component
        'cf-buttons'
        allowEdit=allowEdit
        allowDelete=allowDelete
        model=model
        performing=performing
        save_all=save_all
        cancel_all=cancel_all
        delete_all=(action 'delete_all')
        changeFormRoute=changeFormRoute
      )
    )
  }}
{{else}}
  {{cf-conditional-formatting-block
    conditionalFormatting=conditionalFormatting
    conditionalFormat=conditionalFormat
  }}
  {{#if customActions.length}}
    {{cf-custom-actions
      customActions=customActions
      sortedCustomActions=sortedCustomActions
      model=model
      expandActions=expandActions
      method=method
      rqst=rqst
      cf=this
      actionIsRunning=actionIsRunning
      performing=performing
      requestConfirm=(action 'requestConfirm')
      supervisor=supervisor
    }}
  {{/if}}
  <form>
    {{cf-form-errors model=model}}
    {{cf-form
      fieldsets=fieldsets
      model=model
      fetch_meta=fetch_meta
      cf=this
      addRelated=(action 'add_related')
      editRelated=(action 'edit_related')
      languages=languages
      saveMes=saveMes
      readonly=readonly
      changeFormRoute=changeFormRoute
      requestConfirm=(action 'requestConfirm')
    }}
    {{#unless noButtons}}
      <div class="buttons">
        {{cf-buttons
          allowEdit=allowEdit
          allowDelete=allowDelete
          model=model
          performing=performing
          save_all=save_all
          cancel_all=cancel_all
          delete_all=(action 'delete_all')
          changeFormRoute=changeFormRoute
        }}
        <div class="clearfix"></div>
      </div>
    {{/unless}}
  </form>
{{/if}}
{{#if wizardOpen}}
  {{action-wizard
    overlayClick=(toggle 'wizardOpen' this)
    act=wizardAct
    params=wizardParams
    model=wizardModel
    languages=languages
    wizard_action=doRqst
    supervisor=supervisor
  }}
{{/if}}
{{#if modalOpen}}
  {{#liquid-tether             
    target=tetherTarget  
    targetModifier="visible"   
    attachment=tetherAttachment
    targetAttachment=tetherTargetAttachment
    class=tetherClass
    overlayClass="modal-backdrop"
    on-overlay-click=(toggle 'modalOpen' this)
  }}  
    <div class="modal-content">
      <div class="modal-header">
        <h4>{{modalTitle}}</h4>
      </div>
      <div class="modal-body">
        {{#if modalField}}
          {{change-form
            isPopup=true
            model=modalRecord
            fieldsets=modalMeta.fieldsets
            noButtons=true
            fetch_meta=fetch_meta
            tetherClass=tetherClass
            tetherTarget=tetherTarget
            tetherAttachment=tetherAttachment
            tetherTargetAttachment=tetherTargetAttachment
            languages=languages
          }}
        {{/if}}
        {{#if modalMessage}}
          <p>{{modalMessage}}</p>
        {{/if}}
      </div>
      <div class="modal-footer">
        {{#if modalField}}
          <button class="btn btn-primary pull-right" {{action (perform save_related)}} disabled={{modalButtonsDisabled}}>
            {{#if (eq performing 'save_related')}}
              <i class="fa fa-spinner fa-spin"></i>
            {{else}}
              <i class="fa fa-floppy-o"></i>
            {{/if}}
            &nbsp;&nbsp;Save
          </button>
        {{else if (eq confirmType 'action')}}
          <button class="btn btn-danger pull-right" {{action (queue (action 'resetConfirmTypeAndClose') (action modalConfirmAction))}} disabled={{modalButtonsDisabled}}>
            <i class="fa fa-check"></i>
            &nbsp;&nbsp;Confirm
          </button>
        {{else}}
          <button class="btn btn-danger pull-right" {{action (perform confirm_related)}} disabled={{modalButtonsDisabled}}>
            {{#if (eq performing 'confirm_related')}}
              <i class="fa fa-spinner fa-spin"></i>
            {{else}}
              <i class="fa fa-check"></i>
            {{/if}}
            &nbsp;&nbsp;Confirm
          </button>
        {{/if}}
        {{#if (eq confirmType 'action')}}
          <button class="btn btn-default pull-left" {{action (queue (action 'resetConfirmTypeAndClose') (action modalCancelAction))}} disabled={{modalButtonsDisabled}}>
            <i class="fa fa-reply"></i>
            &nbsp;&nbsp;Cancel
          </button>
        {{else}}
          <button class="btn btn-default pull-left" {{action (perform cancel_related)}} disabled={{modalButtonsDisabled}}>
            {{#if (eq performing 'cancel_related')}}
              <i class="fa fa-spinner fa-spin"></i>
            {{else}}
              <i class="fa fa-reply"></i>
            {{/if}}
            &nbsp;&nbsp;Cancel
          </button>
        {{/if}}
      </div>
    </div>
  {{/liquid-tether}}
{{/if}}
