{{#if hasBlock}}
  {{yield this (hash
    listActions=(component
      'cl-list-actions'
      changeFormRoute=changeFormRoute
      allowAdd=allowAdd
      app_name=app_name
      label=label
      listActions=listActions
      sortedActions=sortedActions
      method=method
      rsqt=rqst
      cl=this
      actionIsRunning=actionIsRunning
      performing=performing
      supervisor=supervisor
    )
    filters=(component
      'list-filters'
      parent=this
      filterValueChanged=filterValueChanged
    )
    bulkActions=(component
      'cl-bulk-actions'
      listClassName=listClassName
      bulkActions=bulkActions
      selectedBulkAction=selectedBulkAction
      noneChecked=noneChecked
      selectedRecords=selectedRecords
      bulkAction=(action 'bulkAction')
      supervisor=supervisor
    )
    pagination=(component
      'list-pagination'
      meta=meta
      model=model
      currentPage=currentPage
      goToPage=(action 'goToPage')
    )
    headers=(component
      'cl-headers'
      allowBulk=allowBulk
      allChecked=allChecked
      allowDelete=allowDelete
      orderable=orderable
      display_fields=display_fields
      ordering_fields=ordering_fields
      orderingFields=orderingFields
      filterValues=filterValues
      toggleOrdering=(action 'toggleOrdering')
      changeFormRoute=changeFormRoute
      customActions=customActions
    )
    list=(component
      'cl-items'
      orderable=orderable
      sorted=sorted
      model=model
      display_fields=display_fields
      innerClass=innerClass
      changeFormRoute=changeFormRoute
      app_name=app_name
      label=label
      deleteRecord=(action 'deleteRecord')
      requestConfirm=(action 'requestConfirm')
      customActions=customActions
      sortedCustomActions=sortedCustomActions
      cl=this
      conditionalFormat=conditionalFormat
      allowBulk=allowBulk
      allowDelete=allowDelete
      allowEdit=allowEdit
      supervisor=supervisor
    )
    aggregates=(component
      'cl-aggregates'
      column_count=column_count
      aggregates=aggregates
      model=model
    )
    legend=(component
      'cl-legend'
      conditionalFormat=conditionalFormat
      legends=legends
    )
  )}}
{{else}}
  {{#if (or (and changeFormRoute allowAdd) listActions.length)}}
    {{cl-list-actions
      changeFormRoute=changeFormRoute
      app_name=app_name
      label=label
      allowAdd=allowAdd
      listActions=listActions
      sortedActions=sortedActions
      method=method
      rsqt=rqst
      cl=this
      actionIsRunning=actionIsRunning
      performing=performing
      supervisor=supervisor
    }}
    <div class="clearfix"></div>
  {{/if}}
  {{#if (or showFilters (and showCFLegend legends.length))}}
    <div class="col-xs-12 col-md-4 col-lg-3 col-md-push-8 col-lg-push-9">
      {{#if showFilters}}
        {{list-filters
          parent=this
          filterValueChanged=filterValueChanged
        }}
      {{/if}}
      {{#if (and showCFLegend legends.length)}}
        {{cl-legend legends=legends}}    
      {{/if}}
    </div>
  {{/if}}
  {{#if allowBulk}}
    {{cl-bulk-actions
      listClassName=listClassName
      bulkActions=bulkActions
      selectedBulkAction=selectedBulkAction
      noneChecked=noneChecked
      selectedRecords=selectedRecords
      bulkAction=(action 'bulkAction')
      supervisor=supervisor
    }}
  {{/if}}
  <div class="table-responsive {{inputClass}} {{listClassName}}">
    {{#if showPagination}}
      {{list-pagination meta=meta model=model currentPage=currentPage goToPage=(action 'goToPage')}}
    {{/if}}
    <table class="table table-condensed table-striped">
      <thead>
        {{#if displayLabel}}
          <tr class="inverse">
            <th colspan="{{column_count}}">
              {{capitalize title}}
            </th>
          </tr>
        {{/if}}
        {{cl-headers
          allowBulk=allowBulk
          allChecked=allChecked
          allowDelete=allowDelete
          orderable=orderable
          display_fields=display_fields
          ordering_fields=ordering_fields
          orderingFields=orderingFields
          filterValues=filterValues
          toggleOrdering=(action 'toggleOrdering')
          changeFormRoute=changeFormRoute
          customActions=customActions
        }}
      </thead>
      {{#if model.isFulfilled}}
        {{cl-items
          orderable=orderable
          sorted=sorted
          model=model
          display_fields=display_fields
          innerClass=innerClass
          changeFormRoute=changeFormRoute
          app_name=app_name
          label=label
          deleteRecord=(action 'deleteRecord')
          requestConfirm=(action 'requestConfirm')
          customActions=customActions
          sortedCustomActions=sortedCustomActions
          cl=this
          conditionalFormat=conditionalFormat
          allowBulk=allowBulk
          allowDelete=allowDelete
          allowEdit=allowEdit
          supervisor=supervisor
        }} 
        {{#if aggregates}}
          {{cl-aggregates
            column_count=column_count
            aggregates=aggregates
            model=model
          }}
        {{/if}}
      {{else}}
        <tr>
          <th colspan={{column_count}} class="fieldname">
            <i class="fa fa-spinner fa-spin fa-5x"></i>
          </th>
        </tr>
      {{/if}}
    </table>
    {{#if showPagination}}
      {{list-pagination meta=meta model=model currentPage=currentPage goToPage=(action 'goToPage')}}
    {{/if}}
  </div>
{{/if}}
{{#if wizardOpen}}
  {{action-wizard
    overlayClick=(toggle 'wizardOpen' this)
    act=wizardAct
    params=wizardParams
    model=wizardModel
    languages=wizardAct.languages
    wizard_action=(or wizard_action doRqst)
    supervisor=supervisor
  }}
{{/if}}
{{#if modalOpen}}
  {{#liquid-tether             
    target=tetherTarget  
    targetModifier="visible"   
    attachment=tetherAttachment
    targetAttachment=tetherTargetAttachment
    class=tetherClass
    overlayClass="modal-backdrop"
    on-overlay-click=(toggle 'modalOpen' this)
  }}  
    <div class="modal-content">
      <div class="modal-header">
        <h4>{{modalTitle}}</h4>
      </div>
      <div class="modal-body">
        <p>{{modalMessage}}</p>
        {{#if (eq confirmType 'bulk')}}
          <ul>
            {{#each selectedRecordsForAction as |record|}}
              <li>{{record.__str__}}</li>
            {{/each}}
          </ul>
          {{#if ignoredRecordsForAction}}
            <p>{{ignoreMessage}}</p>
            <ul>
              {{#each ignoredRecordsForAction as |record|}}
                <li>{{record.__str__}}</li>
              {{/each}}
            </ul>
          {{/if}}
          {{#if confirmAggregate}}
            <strong>{{confirmAggregate.label}}:</strong>&nbsp;
            {{tomany-aggregate
              records=selectedRecordsForAction
              type=confirmAggregate.type
              propertyPath=confirmAggregate.property_path
              groupBy=confirmAggregate.group_by
            }}
          {{/if}}
        {{/if}}
      </div>
      <div class="modal-footer">
        {{#if (eq confirmType 'delete')}}
          <button class="btn btn-danger pull-right" {{action (perform confirm_delete)}} disabled={{modalButtonsDisabled}}>
            {{#if confirm_delete.isRunning}}
              <i class="fa fa-spinner sa-spin"></i>
            {{else}}
              <i class="fa fa-check"></i>
            {{/if}}
            &nbsp;&nbsp;Confirm
          </button>
        {{else if (eq confirmType 'action')}}
          <button class="btn btn-danger pull-right" {{action (queue (action 'resetConfirmTypeAndClose') (action modalConfirmAction))}} disabled={{modalButtonsDisabled}}>
            <i class="fa fa-check"></i>
            &nbsp;&nbsp;Confirm
          </button>
        {{else}}
          <button class="btn btn-danger pull-right" {{action (perform confirm_bulk)}} disabled={{modalButtonsDisabled}}>
            {{#if confirm_bulk.isRunning}}
              <i class="fa fa-spinner sa-spin"></i>
            {{else}}
              <i class="fa fa-check"></i>
            {{/if}}
            &nbsp;&nbsp;Confirm
          </button>
        {{/if}}
        {{#if (eq confirmType 'action')}}
          <button class="btn btn-default pull-left" {{action (queue (action 'resetConfirmTypeAndClose') (action modalCancelAction))}} disabled={{modalButtonsDisabled}}>
            <i class="fa fa-reply"></i>
            &nbsp;&nbsp;Cancel
          </button>
        {{else}}
          <button class="btn btn-default pull-left" {{action 'cancel_confirm'}} disabled={{modalButtonsDisabled}}>
            <i class="fa fa-reply"></i>
            &nbsp;&nbsp;Cancel
          </button>
        {{/if}}
      </div>
    </div>
  {{/liquid-tether}}
{{/if}}
