<tr class="inverse">
  <td colspan="{{column_count}}">
    <table style="width: 100%" class="table">
      <tr class="inverse">
        {{#each aggregates as |aggregate|}}
          <th>{{aggregate.label}}</th>
          {{tomany-aggregate
            records=model
            type=aggregate.type
            propertyPath=aggregate.property_path
            groupBy=aggregate.group_by
            widget=aggregate.widget
          }}
        {{/each}}
      </tr>
    </table>
  </td>
</tr>
