<div class="bulk-actions {{listClassName}}">
  <div class="hide-xxs">With&nbsp;selected:&nbsp;</div>
  <div class="input-group">
    {{#power-select
      placeholder='---'
      options=bulkActions
      selected=selectedBulkAction
      onchange=(action (mut selectedBulkAction))
      allowClear=true
      searchEnabled=false
      as |action|
    }}
      {{action.text}}
    {{/power-select}}
    {{#if (eq selectedBulkAction.type 'download')}}
      <a
        class="{{if selectedBulkAction.btn_class selectedBulkAction.btn_class 'btn'}} input-group-addon"
        disabled={{or (not selectedBulkAction) noneChecked}}
        href={{concat selectedBulkAction.url '?' (query-string selectedRecords)}}
        download
      >
        <i class={{if selectedBulkAction.icon_class selectedBulkAction.icon_class 'fa fa-cog'}}></i>
        &nbsp;&nbsp;Go
      </a>
    {{else}}
      <span
        class="{{if selectedBulkAction.btn_class selectedBulkAction.btn_class 'btn btn'}} input-group-addon"
        disabled={{or (not selectedBulkAction) noneChecked}}
        {{action bulkAction selectedBulkAction}}
      >
        <i class={{if selectedBulkAction.icon_class selectedBulkAction.icon_class 'fa fa-cog'}}></i>
        &nbsp;&nbsp;Go
      </span>
    {{/if}}
  </div>
</div>
