{{#if allowBulk}}
  <th>
    <div class="checkbox checkbox-danger">
      {{input type='checkbox' checked=allChecked title='Select all' class='styled'}}
      <label></label>
    </div>
  </th>
{{/if}}
{{#if allowDelete}}<th>&nbsp;</th>{{/if}}
{{#if orderable}}<th>&nbsp;</th>{{/if}}
{{#each display_fields as |field|}}
  <th class="fieldname">
    {{#if field.label}}
      {{field.label}}
    {{else}}
      {{field.name}}
    {{/if}}
    {{#if (and ordering_fields (array-contains orderingFields field.name property='field'))}}
      <div class='pull-right'>
        <i
          class="fa fa-{{if (eq filterValues.ordering (filter-for-field field.name orderingFields)) 'sort-desc' (if (eq filterValues.ordering (concat '-' (filter-for-field field.name orderingFields))) 'sort-asc' 'sort')}}"
          {{action toggleOrdering (filter-for-field field.name orderingFields)}}
        >
        </i>
      </div>
    {{/if}}
  </th>
{{/each}}
{{#if changeFormRoute}}
  <th>&nbsp;</th>
{{/if}}
{{#each customActions as |act|}}
  {{#unless act.hide}}
    <th>&nbsp;</th>
  {{/unless}}
{{/each}}
