{{#if orderable}}
  {{#sortable-group tagName='tbody' onChange='reorderItems' as |group|}}
    {{#each sorted as |record|}}
      {{record-line
        model=record
        group=group
        handle='.handle'
        display_fields=display_fields
        innerClass=innerClass
        changeFormRoute=changeFormRoute
        app_name=app_name
        label=label
        orderable=orderable
        deleteRecord=(action deleteRecord)
        requestConfirm=(action requestConfirm)
        custom_actions=customActions
        sortedCustomActions=sortedCustomActions
        receiver=cl
        conditionalFormat=conditionalFormat
        allowBulk=allowBulk
        allowDelete=allowDelete
        allowEdit=allowEdit
        supervisor=supervisor
      }}
    {{/each}}
  {{/sortable-group}}
{{else}}
  <tbody>
    {{#each model as |record|}}
      {{record-line
        model=record
        display_fields=display_fields
        innerClass=innerClass
        changeFormRoute=changeFormRoute
        app_name=app_name
        label=label
        deleteRecord=(action deleteRecord)
        requestConfirm=(action requestConfirm)
        custom_actions=customActions
        sortedCustomActions=sortedCustomActions
        receiver=cl
        conditionalFormat=conditionalFormat
        allowBulk=allowBulk
        allowDelete=allowDelete
        allowEdit=allowEdit
        supervisor=supervisor
      }}
    {{/each}}
  </tbody>
{{/if}}
