{{#if (and changeFormRoute allowAdd)}}
  <div class="pull-right add-button">
    {{#link-to changeFormRoute app_name label 'new' class="btn btn-success"}}
      <i class="fa fa-plus"></i>&nbsp;&nbsp;Add {{label}}
    {{/link-to}}
  </div>
{{/if}}
{{#each sortedActions as |act|}}
  {{#unless (or act.hide act.hideInList)}}
    {{custom-action
      class="pull-right action-btn"
      act=act
      model=undefined
      expanded=true
      method=method
      request=rqst
      receiver=cl
      disabled=actionIsRunning
      performing=performing}}
  {{/unless}}
{{/each}}
