{{#conditional-display condition=act.display_condition value=(get model act.display_condition.property_path)}}
  {{#if (array-contains (array 'download' 'link' 'route') act.type)}}
    {{#download-or-link act=act model=model expanded=expanded disabled=(or disabled _disabled)}}
      {{#if (not-eq act.icon_class '')}}
        <i class={{act.icon_class}}></i>
      {{/if}}
      {{#if expanded}}{{#if (not-eq act.icon_class '')}}&nbsp;&nbsp;{{/if}}{{act.text}}{{/if}}
    {{/download-or-link}}
  {{else if isComponent}}
    {{component act.component
      act=act
      method=method
      request=request
      receiver=receiver
      model=model
      expanded=expanded
      performing=performing
      requestConfirm=(action requestConfirm)
    }}
  {{else if isMethod}}
    <a
      class={{if act.btn_class act.btn_class 'btn btn-default'}}
      {{action (queue
        (action requestConfirm model act)
        (perform method act receiver model)
      )}}
      title={{unless expanded act.text}}
      disabled={{or disabled _disabled}}
    >
      {{#if (or (not-eq act.icon_class '') (eq act.text perorming))}}
        <i class={{if (not-eq act.text performing) act.icon_class 'fa fa-spinner fa-spin'}}></i>
      {{/if}}
      {{#if expanded}}
        {{#if (or (not-eq act.icon_class '') (eq act.text perorming))}}&nbsp;&nbsp;{{/if}}{{act.text}}
      {{/if}}
    </a>
  {{else if (eq act.type 'request')}}
    <a class={{if act.btn_class act.btn_class 'btn btn-default'}} {{action (queue (action requestConfirm model act) (perform request (action-url act.url model.id) act))}} title={{unless expanded act.text}} disabled={{or disabled _disabled}}>
      {{#if (or (not-eq act.icon_class '') (eq act.text perorming))}}
        <i class={{if (not-eq act.text performing) act.icon_class 'fa fa-spinner fa-spin'}}></i>
      {{/if}}
      {{#if expanded}}
        {{#if (or (not-eq act.icon_class '') (eq act.text perorming))}}&nbsp;&nbsp;{{/if}}{{act.text}}
      {{/if}}
    </a>
  {{else if (eq act.type 'label')}}
      <button class={{if act.btn_class act.btn_class 'btn btn-default'}} disabled>
        {{#if (not-eq act.icon_class '')}}
          <i class={{act.icon_class}}></i>&nbsp;&nbsp;
        {{/if}}
        {{#if expanded}}
          {{act.text}}
        {{/if}}
      </button>
  {{/if}}
{{/conditional-display}}
