{{#if (eq act.type 'download')}}
  <a class={{if act.btn_class act.btn_class 'btn btn-default'}} href={{action-url act.url model.id}} download title={{unless expanded act.text}} disabled={{disabled}}>
    {{yield}}
  </a>
{{else if (eq act.type 'link')}}
  <a class={{if act.btn_class act.btn_class 'btn btn-default'}} href={{action-url act.url model.id}} target={{if act.openInSame '_self' '_blank'}} title={{unless expanded act.text}} disabled={{disabled}}>
    {{yield}}
  </a>
{{else}}
  <a class={{if act.btn_class act.btn_class 'btn btn-default'}} href={{href-to act.route model.id}} target={{if act.openInSame '_self' '_blank'}} title={{unless expanded act.text}} disabled={{disabled}}>
    {{yield}}
  </a>
{{/if}}
