{{#if is_ready}}
  <div class="table-responsive {{inputClass}}">
    {{#tomany-lines
      field=field
      sorted=(if (and field.extra.sortableBy (not readonly)) sorted related)
      related=related
      readonly=readonly
      inputClass=inputClass
      column_count=column_count
      padderColspan=padderColspan
      actionColumns=actionColumns
      addRelated=(action 'addRelated')
      popupAddRelated=(action 'popupAddRelated')
      labelsRow=true
      conditionalFormat=conditional_formatting
      as |record|
    }}
      {{#if (and field.extra.sortableBy (not readonly))}}
        <td width="45"><i class="fa fa-arrows-v handle btn"></i></td>
      {{/if}}
      {{#unless (or readonly field.extra.preventDelete)}}
        <td width="45">
          {{#unless record._preventDelete}}
            <a class="btn" {{action 'deleteRelated' record on='click'}}>
              <i class="fa fa-trash text-danger"></i>
            </a>
          {{/unless}}
        </td>
      {{/unless}}
      {{#each field.fields as |subfield|}}
        <td class="field">
          {{form-field
            field=subfield
            model=record
            horiClass=subfield.horiClass
            inputClass=subfield.horiClass
            class=innerClass
            formLayout='inline'
            addRelated=addRelated
            main=main
            readonly=(or readonly subfield.readonly)
            required=subfield.required
            onChange=(action saveMe)
            validations=(hash value=subfield.validations)
          }}
        </td>
      {{/each}}
      {{#if field.extra.allowOpen}}
        <td width="45">
          {{#if changeFormRoute}}
            <a href={{href-to changeFormRoute related_app related_singular record.id}} {{action (queue (action saveMe) (action editRelated field.extra.related_model record true))}} class="btn">
              <i class="fa fa-pencil text-info"></i>
            </a>
          {{else}}
            <a {{action (queue (action saveMe) (action editRelated field.extra.related_model record true))}} class="btn">
              <i class="fa fa-pencil text-info"></i>
            </a>
          {{/if}}
        </td>
      {{/if}}
      {{#each custom_actions as |act|}}
        {{#unless (and (or act.hide act.hideInList act.hideInTomany) (not (array-contains extra.forceActions act.slug)))}}
          <td width="45">
            {{custom-action
              act=act
              model=record
              expanded=false
              method=method
              request=rqst
              receiver=this
              main=main
              disabled=actionIsRunning
              performing=performing
              requestConfirm=(action requestConfirm)
            }}
          </td>
        {{/unless}}
      {{/each}}
    {{/tomany-lines}}
  </div>
{{else}}
  {{is-loading}}
{{/if}}
