{{#if field.extra.hasMany}}
  {{#each (get model field.name) as |record|}}
    {{form-fieldset
      field=dynField
      model=record
      main=main
      addRelated=addRelated
      editRelated=editRelated
      readonly=readonly
      languages=languages
      fetch_meta=false
      saveMePrefix=saveMePrefix
      saveMes=saveMes
      onChange=onChange
      changeFormRoute=changeFormRoute
      custom_actions=custom_actions
      requestConfirm=(action requestConfirm)
    }}
  {{/each}}
{{else}}
  {{form-fieldset
    field=dynField
    model=(get model field.name)
    main=main
    addRelated=addRelated
    editRelated=editRelated
    readonly=readonly
    languages=languages
    fetch_meta=false
    saveMePrefix=saveMePrefix
    saveMes=saveMes
    onChange=onChange
    changeFormRoute=changeFormRoute
    custom_actions=custom_actions
    requestConfirm=(action requestConfirm)
  }}
{{/if}}

