{{#base-widget
  model=model
  label=label
  property=property
  readonly=readonly
  horiClass=horiClass
  inputClass=inputClass
  content=content
  extra=extra
  targetModelName=targetModelName
  formLayout=formLayout
  required=required
  field=field
  translated=translated
  languages=languages
  validations=validations
  as |widget language|
}}
  {{#if readonly}}
    {{simple-mde-preview (get model (concat property language))}}
  {{else}}
    {{simple-mde
      class="form-control"
      value=(or (get model (concat property language)) '')
      change=(action (mut (get model (concat property language))))
      required=required
      buildSimpleMDEOptions=buildSimpleMDEOptions
    }}
  {{/if}}
{{/base-widget}}
