{{#base-widget
  model=model
  label=label
  property=property
  readonly=readonly
  horiClass=horiClass
  inputClass=inputClass
  extra=extra
  targetModelName=targetModelName
  formLayout=formLayout
  required=required
  field=field
  languages=languages
  validations=validations
  type='generic-fk'
  as |widget|
}}
  {{#if readonly}}
    {{#if displayValue}}
      {{#unless (or (eq extra.preventLink true) (array-contains extra.preventLink (concat linkApp '/' linkModel)))}}
        <a href={{href-to 'index.form' linkApp linkModel value.id}} target="_blank">
          {{displayValue.__str__}}
        </a>
      {{else}}
        {{displayValue.__str__}}
      {{/unless}}
    {{else}}
      {{! Noting }}
    {{/if}}
    {{#if allowedActions}}
      <div class="inline-action" style="float: right;">
        {{#each allowedActions as |record_action|}}
          {{custom-action
            act=record_action
            model=displayValue
            expanded=false
            method=method
            request=rqst
            receiver=this
            disabled=actionIsRunning
            performing=performing
            requestConfirm=(action 'requestConfirm')
          }}
        {{/each}}
      </div>
    {{/if}}
  {{else}}
    {{form-foreignkey
      model=this
      property='contentType'
      extra=extraForContentType
      horiClass='hidden'
      inputClass='col-xs-12'
      class='col-sm-6'
      targetModelName='contenttypes/contenttype'
      formLayout=formLayout
      required=required
      field=field
      languages=languages
      validations=validations
      value=contentType
      onChange=(action changeRelatedModel)
    }}
    {{#if extraWithRelated}}
      {{form-foreignkey
        model=this
        property='displayValue'
        extra=extraWithRelated
        horiClass='hidden'
        inputClass='col-xs-12'
        class='col-sm-6'
        targetModelName=(concat contentType.app_label '/' contentType.model)
        formLayout=formLayout
        required=required
        field=field
        languages=languages
        validations=validations
        value=displayValue
        onChange=(action changeRelatedId)
      }}
      {{#if allowedActions}}
        <div class="inline-action" style="float: right;">
          {{#each allowedActions as |record_action|}}
            {{custom-action
              act=record_action
              model=displayValue
              expanded=false
              method=method
              request=rqst
              receiver=this
              disabled=actionIsRunning
              performing=performing
              requestConfirm=(action 'requestConfirm')
            }}
          {{/each}}
        </div>
      {{/if}}
    {{/if}}
  {{/if}}
{{/base-widget}}
