{{#if is_ready}}
  {{#conditional-display
    condition=field.extra.display_condition
    value=(get model field.extra.display_condition.property_path)
    as |display|
  }}
    {{#if isCollection}}
      {{component
        widgetComponent
        field=field
        model=record
        class=klass
        main=main
        addRelated=addRelated
        editRelated=editRelated
        readonly=(or (eq field.readonly true) (eq readonly true) (eq _readonly true))
        languages=languages
        fetch_meta=(not field.extra.dont_fetch_meta)
        saveMePrefix=(or saveMePrefix '')
        saveMes=saveMes
        onChange=onChange
        changeFormRoute=changeFormRoute
        custom_actions=custom_actions
        inverse=inverse
        requestConfirm=(action (optional requestConfirm))
      }}
    {{else}}
      {{component
        widgetComponent
        model=model
        label=label
        class=klass
        property=property
        readonly=(or field.readonly readonly (eq _readonly true))
        horiClass=horiClass
        inputClass=inputClass
        extra=field.extra
        required=(or field.required (and field.extra.display_condition.required display) _required)
        targetModelName=field.model
        formLayout=formLayout
        field=field
        main=main
        addRelated=addRelated
        editRelated=editRelated
        onChange=onChange
        languages=languages
        value=(get model property)
        validations=field.validations
        changeFormRoute=changeFormRoute
        saveMePrefix=(or saveMePrefix '')
        saveMes=saveMes
        requestConfirm=(action (optional requestConfirm))
      }}
    {{/if}}
  {{/conditional-display}}
{{else}}
  {{is-loading}}
{{/if}}
