{{#base-widget
  model=model
  label=label
  type=type
  property=property
  readonly=readonly
  horiClass=horiClass
  inputClass=inputClass
  content=content
  extra=extra
  targetModelName=targetModelName
  formLayout=formLayout
  required=required
  field=field
  languages=languages
  validations=validations
  as |widget|
}}
  {{#if readonly}}
    {{#if isBool}}
      {{#if (eq value true)}}
        <i class="fa fa-check text-success"></i>
      {{else if (eq value false)}}
        <i class="fa fa-times text-danger"></i>
      {{else}}
        <i class="fa fa-question text-info"></i>
      {{/if}}
    {{else}}
      {{valueStr}}
    {{/if}}
  {{else}}
    <div class="{{if required 'required'}} {{if (eq selectedItem.value _other.value) 'col-xs-4'}}">
      {{#power-select
        options=choices
        selected=selectedItem
        onchange=(queue (action 'change') (action 'validate' widget))
        searchEnabled=false
        placeholder=placeHolder
        allowClear=(and (not required) (not extra.preventClear) (not isBool))
        as |item|
      }}
        {{item.label}}
      {{/power-select}}
    </div>
    {{#if (and extra.allowOther (eq selectedItem.value _other.value))}}
      <div class="col-xs-8">
        <input
          type="text"
          value={{value}}
          class="form-control"
          onchange={{action 'updateOtherVal' value='target.value'}}
          onfocusout={{action 'validate' widget}}
        >
      </div>
    {{/if}}
  {{/if}}
{{/base-widget}}
<div class="clearfix"></div>
