{{#base-widget
  model=model
  label=label
  property=property
  readonly=readonly
  horiClass=horiClass
  inputClass=inputClass
  content=content
  extra=extra
  targetModelName=targetModelName
  formLayout=formLayout
  required=required
  field=field
  translated=translated
  languages=languages
  validations=validations
  as |widget language|
}}
  {{#if readonly}}
    <p>{{value}}</p>
  {{else}}
    {{textarea
      class="form-control"
      rows=rows 
      value=(get model (concat property language))
      focusOut=(action 'validate' widget)
      required=required
      placeholder=placeholder
    }}
  {{/if}}
{{/base-widget}}
