<ul class="nav nav-tabs" role="tablist">
  {{#each field.tabs as |tab index|}}
    <li role="presentation" class="{{if (eq index activeIndex) 'active'}} {{if tab.isError 'error'}}">
      <a aria-cotrols="tab-{{index}}" role="tab" {{action 'activateTab' index}}>
        {{tab.label}}
      </a>
    </li>
  {{/each}}
</ul>

<div class="spacer"></div>

<div class="tab-content">
  {{#each field.tabs as |tab index|}}
    {{#if (eq index activeIndex)}}
      <div role="tabpanel" class="tab-pane fade in active" id="tab-{{index}}">
        {{form-fieldset
          field=tab
          label=false
          model=model
          class=tab.class
          main=main
          addRelated=addRelated
          editRelated=editRelated
          fetch_meta=false
          reloadIfFirst=reloadIfFirst
          readonly=readonly
          languages=languages
          saveMePrefix=(or saveMePrefix '')
          saveMes=saveMes
          changeFormRoute=changeFormRoute
          requestConfirm=(action (optional requestConfirm))
        }}
      </div>
    {{/if}}
  {{/each}}
</div>
