{{#if is_ready}}
  <div class="table-responsive {{inputClass}}">
    {{#tomany-lines
      field=field
      sorted=(if (and field.extra.sortableBy (not readonly)) sorted related)
      related=related
      readonly=readonly
      inputClass=inputClass
      column_count=column_count
      padderColspan=padderColspan
      actionColumns=actionColumns
      addRelated=(action 'addRelated')
      popupAddRelated=(action 'popupAddRelated')
      conditionalFormat=conditional_formatting
      as |record|
    }}
      {{#if (and field.extra.sortableBy (not readonly))}}
        <td width="25"><i class="fa fa-arrows-v handle"></i></td>
      {{/if}}
      {{#unless readonly}}
        <td width="25">
          {{#unless record._preventDelete}}
            <a class="btn" {{action 'deleteRelated' record on='click'}}>
              <i class="fa fa-trash text-danger"></i>
            </a>
          {{/unless}}
        </td>
      {{/unless}}
      <td class='field'>
        {{form-fieldset
          model=record
          field=field
          label=null
          fetch_meta=false
          main=main
          addRelated=addRelated
          languages=languages
          readonly=readonly
          saveMePrefix=(concat saveMePrefix field.name '.')
          saveMes=saveMes
          onChange=(action saveMe)
          requestConfirm=(action requestConfirm)
        }}
      </td>
      {{#if (gt actionColumns 0)}}
        <td>
          {{#if field.extra.allowOpen}}
            <a {{action editRelated field.extra.related_model record true}} style="min-width: 30px;">
              <i class="fa fa-pencil text-info"></i>
            </a>
            <br/>
          {{/if}}
          {{#each custom_actions as |act|}}
            {{#unless (or act.hide act.hideInList act.hideInTomany)}}
              {{custom-action
                act=act
                model=record
                expanded=false
                method=method
                request=rqst
                receiver=this
                main=main
                disabled=actionIsRunning
                performing=performing
                requestConfirm=(action requestConfirm)
              }}
              <br/>
            {{/unless}}
          {{/each}}
        </td>
      {{/if}}
    {{/tomany-lines}}
  </div>
{{else}}
  {{is-loading}}
{{/if}}
