{{#base-widget
  model=model
  label=label
  type='select'
  property=property
  readonly=readonly
  horiClass=horiClass
  inputClass=inputClass
  extra=extra
  targetModelName=targetModelName
  formLayout=formLayout
  required=required
  field=field
  languages=languages
  validations=validations
  as |widget|
}}
{{#if readonly}}
    <div class="input-group">
      <div>
        {{#if (and extra.linkOnValue value)}}
          <a href={{href-to extra.linkOnValue linkApp linkModel value.id}}>
            {{get value choiceLabel}}
          </a>
        {{else}}
          {{get value choiceLabel}}
        {{/if}}
      </div>
      {{#if (and value extra.popup)}}
        <span class="input-group-addon" onclick={{action editRelated extra.related_model this false}}><i class="fa fa-pencil"></i></span>
      {{/if}}
      {{#if extra.expand}}
        <span class="input-group-addon" onclick={{action (toggle 'isExpanded' this)}}><i class="fa {{unless isExpanded 'fa-eye' 'fa-eye-slash'}}"></i></span>
      {{/if}}
    </div>
  {{else}}
    <div class="input-group {{if required 'required'}}">
      {{#power-select
        options=choices
        selected=value
        onchange=(queue (action 'change') (action 'validate' widget))
        searchEnabled=extra.autoComplete
        search=(action 'search')
        placeholder=placeHolder
        allowClear=(and (or extra.allowClearRequired (not required)) (not extra.preventClear))
        as |item|
      }}
        {{get item choiceLabel}}
      {{/power-select}}
      {{#if (and value extra.expand)}}
        <span class="input-group-addon" onclick={{action (toggle 'isExpanded' this)}}><i class="fa {{unless isExpanded 'fa-eye' 'fa-eye-slash'}}"></i></span>
      {{/if}}
      {{#if (and value extra.popup)}}
        <span class="input-group-addon" onclick={{action editRelated extra.related_model this false}}><i class="fa fa-pencil"></i></span>
      {{/if}}
      {{#if extra.allowAdd}}
        <span class="input-group-addon" onclick={{action addRelated extra.related_model this false}}><i class="fa fa-plus"></i></span>
      {{/if}}
      {{#if hasBlock}}
        {{yield}}
      {{else}}
        {{#if (and extra.linkOnValue value)}}
          <a target="_blank" class="input-group-addon" href={{href-to extra.linkOnValue linkApp linkModel value.id}}><i class="fa fa-arrow-right"></i></a>
        {{/if}}
      {{/if}}
    </div>
  {{/if}}
{{/base-widget}}
<div class="clearfix"></div>
{{#if isExpanded}}
  <div class="col-xs-12">
    {{form-fieldset
      model=(get model property)
      field=field
      label=null
      main=main
      addRelated=addRelated
      editRelated=editRelated
      readonly=readonly
      languages=languages
      fetch_meta=(not field.extra.dont_fetch_meta)
      saveMePrefix=(or saveMePrefix '')
      saveMes=saveMes
      onChange=onChange
      changeFormRoute=changeFormRoute
      custom_actions=custom_actions
      requestConfirm=(action requestConfirm)
    }}
  </div>
{{/if}}
