{{#base-widget
  model=model
  label=label
  property=property
  readonly=readonly
  horiClass=horiClass
  inputClass=inputClass
  content=content
  extra=extra
  targetModelName=targetModelName
  formLayout=formLayout
  required=required
  field=field
  translated=translated
  languages=languages
  validations=validations
  as |widget language|
}}
{{#if readonly}}
    <span class="duration">
      {{displayValue}}
    </span>
  {{else}}
    <div class="input-group">
      {{input
        type='duration'
        value=displayValue
        class="form-control"
        required=widget.required
        focusOut=(action validate widget)
        placeholder=widget.placeholder
      }}
    </div>
  {{/if}}
{{/base-widget}}
