{{#base-widget
  model=model
  label=label
  property=property
  readonly=readonly
  horiClass=horiClass
  inputClass=inputClass
  content=content
  extra=extra
  targetModelName=targetModelName
  formLayout=formLayout
  required=required
  field=field
  translated=translated
  languages=languages
  validations=validations
  as |widget language|
}}
  {{#if readonly}}
    {{#if value}}
      <p>
        {{moment-format value widet.momentFormat}}
      </p>
    {{/if}}
  {{else}}
    <div class="col-xs-6">
      {{input
        type='date'
        value=date
        class="form-control"
        required=required
        focusOut=(action 'validate' widget)
        placeholder=placeholder
      }}
    </div>
    <div class="col-xs-6">
      {{input
        type='time'
        value=time
        class="form-control"
        required=required
        focusOut=(action 'validate' widget)
        placeholder=placeholder
      }}
    </div>
  {{/if}}
{{/base-widget}}

