{{custom-action
  act=(hash
    display_condition=extra.display_condition
    type=field.type
    btn_class=extra.btn_class
    icon_class=extra.icon_class
    text=field.label
    url=field.url
    method=field.method
  )
  model=model
  expanded=true
  method=main.method
  request=main.rqst
  receiver=main
  performing=main.performing
  disabled=main.actionIsRunning
  requestConfirm=(action requestConfirm)
}}
