{{#base-widget
  model=model
  label=label
  property=property
  readonly=readonly
  horiClass=horiClass
  inputClass=inputClass
  extra=extra
  targetModelName=targetModelName
  formLayout=formLayout
  required=required
  field=field
  languages=languages
  validations=validations
  as |language|
}}
  {{#if readonly}}
    <table>
      {{#each value as |val|}}
        <tr><td>{{get val choiceLabel}}</td></tr>
      {{/each}}
    </table>
  {{else}}
    <div class="input-group {{if required 'required'}}">
      {{#power-select-multiple
        options=choices
        selected=value
        onchange=(action 'change')
        searchEnabled=extra.autoComplete
        search=(action 'search')
        placeholder=placeHolder
        as |item|
      }}
        {{get item choiceLabel}}
      {{/power-select-multiple}}
      {{#if extra.allowAdd}}
        <span class="input-group-addon" onclick={{action addRelated extra.related_model this true}}><i class="fa fa-plus"></i></span>
      {{/if}}
    </div>
  {{/if}}
{{/base-widget}}
<div class="clearfix"></div>
