{{#base-widget
  model=model
  label=label
  property=property
  readonly=readonly
  horiClass=horiClass
  inputClass=inputClass
  content=content
  extra=extra
  targetModelName=targetModelName
  formLayout=formLayout
  validations=validations
  as |widget|
}}
  {{#if readonly}}
    {{#if value}}
      <img src={{value}} style={{tnStyle}}>
    {{/if}}
  {{else}}
    {{input
      type=type
      value=value
      class="form-control"
      required=required
      focusOut=(action 'validate' widget)
     }}
  {{/if}}
{{/base-widget}}

