{{#if hasPages}}
  <div class="btn-group" role="nav">
    {{#each (repeat begining) as |empty index|}}
      <button class="btn btn-default {{if (eq (add index 1) currentPage) 'active'}}" disabled={{eq (add index 1) currentPage}} {{action goToPage (add index 1)}}>
        {{add index 1}}
      </button>
    {{/each}}
    {{#if middle}}
      <span class="btn">...</span>
      {{#each (range middle.from middle.to) as |index|}}
        <button class="btn btn-default {{if (eq index currentPage) 'active'}}" disabled={{eq index currentPage}} {{action goToPage index}}>
          {{index}}
        </button>
      {{/each}}
    {{/if}}
    {{#if end}}
      <span class="btn">...</span>
      {{#each (range end (add pageCount 1)) as |index|}}
        <button class="btn btn-default {{if (eq index currentPage) 'active'}}" disabled={{eq index currentPage}} {{action goToPage index}}>
          {{index}}
        </button>
      {{/each}}
    {{/if}}
  </div>
{{/if}}
