<h3>Filters</h3>
{{#if search_enabled}}
  {{form-text
    model=this
    property='searchValue'
    extra=(hash addonIcon='fa fa-search')
    label=false
    value=searchValue
  }}
{{/if}}
{{#if filter_fields.length}}
  {{#each filterFields as |field|}}
    {{#unless (array-contains _hidden_filters field.name)}}
      {{form-field
        model=filterValues
        field=field
        horiClass=field.horiClass
        inputClass=field.inputClass
        extra=ield.extra
        onChange=(action doFilterValueChanged)
        required=false
        value=(mut (get filterValues field.name))
        }}
    {{/unless}}
  {{/each}}
{{/if}}
<p><br/></p>
