{{#if hasBlock}}
  {{yield this}}
{{else}}
  {{#if allowBulk}}
    <td class="select">
      <div class="checkbox checkbox-primary">
        {{input type='checkbox' checked=model._selected class='styled'}}
        <label></label>
      </div>
    </td>
  {{/if}}
  {{#if orderable}}
    <td class="action"><i class="fa fa-arrows-v handle"></i></td>
  {{/if}}
  {{#if allowDelete}}
    <td width="15" class="action">
      <a class="btn" {{action deleteRecord model on='click'}}>
        <i class="fa fa-trash text-danger"></i>
      </a>
    </td>
  {{/if}}
  {{#each display_fields as |field|}}
    <td class="field">
      {{form-field
        field=field
        model=model
        horiClass=field.horiClass
        inputClass=field.horiClass
        class=innerClass
        formLayout='inline'
        addRelated=(action 'addNew')
        onChange=(if (or readonly field.readonly (evaluate-condition field.extra.readonly_condition model)) (action 'placeHolder') (action 'save' model field))
        value=(get model field.name)
        readonly=(or readonly field.readonly)
        validations=(hash value=field.validations)
      }}
    </td>
  {{/each}}
  {{#if changeFormRoute}}
    <td width="15" class="action">
      {{#if model.id}}
        <a class="btn" href={{href-to changeFormRoute app_name label model.id}}>
          <i class="fa fa-{{if allowEdit 'pencil' 'eye'}} text-info"></i>
        </a>
      {{else}}
        &nbsp;
      {{/if}}
    </td>
  {{/if}}
  {{#each sortedCustomActions as |act|}}
    {{#unless (or act.hide act.hideInList)}}
      <td width="15" class="action">
        {{custom-action
          act=act
          model=model
          expanded=act.forceExpend
          method=method
          request=rqst
          receiver=receiver
          disabled=actionIsRunning
          performing=performing
          requestConfirm=(action requestConfirm)
        }}
      </td>
    {{/unless}}
  {{/each}}
{{/if}}
