<thead>
  {{#unless field.extra.hideLabel}}
    <tr class="inverse">
      <th colspan="{{column_count}}">
        {{field.label}}
        {{#unless (or readonly field.extra.allowAdd field.extra.popupAdd field.extra.preventAdd)}}
          <div class="pull-right">
            <i class="fa fa-plus text-success" {{action addRelated on='click'}}></i>
          </div>
        {{else}}
          {{#if (and (or field.extra.allowAdd field.extra.popupAdd) (not field.extra.preventAdd))}}
            <div class="pull-right">
              <i class="fa fa-plus text-success" {{action popupAddRelated field.extra.related_model on='click'}}></i>
            </div>
          {{/if}}
        {{/unless}}
      </th>
    </tr>
  {{/unless}}
  {{#if labelsRow}}
    <tr class="headers">
      {{#if (gt padderColspan 0)}}
        <th colspan={{padderColspan}}>&nbsp;</th>
      {{/if}}
      {{#each field.fields as |subfield|}}
        <th class="fieldname {{if subfield.required 'required'}}">
          {{#if subfield.label}}
            {{subfield.label}}{{#if subfield.required}}<sup>*</sup>{{/if}}
          {{else}}
            {{subfield.field}}{{#if subfield.required}}<sup>*</sup>{{/if}}
          {{/if}}
        </th>
      {{/each}}
      {{#if (gt actionColumns 0)}}
        {{#each (repeat actionColumns) as |empty|}}
          <th>&nbsp;</th>
        {{/each}}
      {{/if}}
    </tr>
  {{/if}}
</thead>
{{#if (and field.extra.sortableBy (not readonly))}}
  {{#sortable-group tagName='tbody' onChange='reorderItems' as |group|}}
    {{#each sorted as |record|}}
      {{#sortable-item
        tagName='tr'
        model=record
        group=group
        handle='.handle'
        class=(concat (if record.isSoftDeleted 'deleted' '') ' ' (conditional-format record conditionalFormat))}}
        {{yield record}}
      {{/sortable-item}}
    {{/each}}
  {{/sortable-group}}
{{else}}
  <tbody>
    {{#each related as |record|}}
      <tr class={{concat (if record.isSoftDeleted 'deleted' '') ' ' (conditional-format record conditionalFormat)}}>
        {{yield record}}
      </tr>
    {{/each}}
  </tbody>
{{/if}}
{{#if field.extra.aggregates}}
  <tfoot>
    <tr class="inverse"><td colspan="{{column_count}}">
      <table style="width: 100%" class="table">
        <tr class="inverse">
          {{#each field.extra.aggregates as |aggregate|}}
            <th>{{aggregate.label}}</th>
            {{tomany-aggregate
              records=related
              type=aggregate.type
              propertyPath=aggregate.property_path
              groupBy=aggregate.group_by
              widget=aggregate.widget
            }}
          {{/each}}
        </tr>
      </table>
    </td></tr>
  </tfoot>
{{/if}}
