{{#each-in values as |key value|}}
  <td>
    {{#unless (eq key '_')}}{{key}}: {{/unless}}
    {{#if widget}}
      {{component
        (concat 'form-' widget)
        model=values
        attribute=key
        readonly=true
        value=value
      }}
    {{else}}
      {{value}}
    {{/if}}
  </td>
{{/each-in}}
